<div class="education">

  <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
        <img width="200" [src]="utLogo" alt="UT Logo">
      </div>
      <div class="col-sm-4">
          The University of Texas Health Science Center at Houston
          Ph.D. Biomedical Science
      </div>
  </div>

  <hr class="line">

  <div class="row bottom-row">
    <div class="col-sm-offset-2 col-sm-4">
        The University of Texas at Austin
        B.S. Biomedical Engineering
    </div>
    <div class="col-sm-4">
      <img width="200" [src]="uthscLogo" alt="UTHSC Logo">
    </div>
  </div>

</div>
