.education {
  text-align: center;
}

.experience-header {
  font-size: 12pt;
  font-style: oblique;
  font-weight: normal;
}

.line {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: darkgray; /* Modern Browsers */
    width: 85%;
}

.top-row {
  margin-bottom: 10px;
}

.bottom-row {
  margin-top: 10px;
}

.border-on-bottom {
  border-bottom: 2px darkgray solid;
}

.line {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: darkgray; /* Modern Browsers */
    width: 85%;
}
