<div class="education">

  <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
  <h1>Degrees Earned and Educational Overview</h1>
  <hr class="line">
  <h3>Ph.D. Biomedical Science (2014) - The University of Texas Health Science Center at Houston</h3>
  <h4>Program in Cell and Regulatory Biology: Cell Biology Track</h4>
  <div>
      <h3>Awards</h3>
      <p class="experience-header">
        W. M. Keck Center for Interdisciplinary Biosciences Training of the Gulf Coast Consortia<br/>
       (National Institute of General Medical Sciences (NIGMS) Grant No 1 T32 GM089657-01)
      </p>
      <p class="experience-header">
        UTHSC Graduate School of Biomedical Sciences Travel Award (2012)
      </p>
  </div>
  <div>
    <h3>Posters</h3>
  </div>
  <div>
    <h3>Presentations</h3>
  </div>
  <div>
    <h3>Conference Attendance</h3>
    <div>Keck Gulf Coast Consortia Annual Research Conference (2012)</div>
    <div>National Biomedical Computation Resource (NBCR) Summer Institute</div>
    <div>The Endocrine Society – Seminar on G-protein Coupled Receptors</div>
    <div>The Protein Society</div>
    <div>Sealy Center for Structural Biology and Molecular Biophysics</div>
    <div>American Medical Informatics Association (AMIA) Annual Symposium</div>
    <div>National Science Foundation Engineering Research Center (NSF-ERC) Conference</div>
    <div></div>
    <div></div>
  </div>
  <div>
    <h3>Graduate School Committees</h3>
    <div>Graduate School of Biomedical Sciences Recruiting Council (2012-2014)</div>
    <div>Cell and Regulatory Biology Program Co-President</div>
    <div>Keck Seminar Student Planning Committee</div>
    <div>Graduate Student Education Committee (2010-2012)</div>
    <div>Cell Biology Course Focus Group (2011-2012)</div>
    <div>Statistics Course Focus Group (2011)</div>
  </div>
  <br />
  <h3>B.S. Biomedical Engineering (2009) - The University of Texas at Austin</h3>
  <h4>Cellular and Biomolecular Engineering</h4>
</div>
</div>
