.center {
  text-align: center;
}

.publication-font {
  font-size: 12pt;
  list-style: none;
}

/* unvisited link */
a:link {
    color: darkblue;
}

/* visited link */
a:visited {
    color: darkgreen;
}

/* mouse over link */
a:hover {
    color: darkblue;
}

/* selected link */
a:active {
    color: red;
}
