<h1 class="center">Full Publication List</h1>

<div>
  <ul class="center publication-font" style="list-style: none;">
    <li>
      <b><u>LIBSA - A method for the determination of ligand-binding preference to allosteric sites on receptor ensembles</u></b>
      <br/>
      <b>Jan 20, 2014  Journal of Chemical Information and Modelling</b>
    </li>
    <br/>
    <li>
      <b><u>Isoform Selectivity of Adenylyl Cyclase Inhibitors: Characterization of Known and Novel Compounds</u></b>
      <br/>
      <b>Sep 4, 2013  The Journal of Pharmacology and Experimental Therapeutics</b>
    </li>
    <br/>
    <li>
      <b><u>Andrographolide derivatives inhibit guanine nucleotide exchange and abrogate oncogenic Ras function</u></b>
      <br/>
      <b>May 8, 2013  Proceedings of the National Academy of Sciences</b>
    </li>
    <br/>
    <li>
      <b><u>Membrane Targeting Methods</u></b>
      <br/>
      <b>Jan 15, 2012  Encyclopedia of Life Sciences</b>
    </li>
    <br/>
    <li>
      <b><u>Novel Allosteric Sites on Ras for Lead Generation</u></b>
      <br/>
      <b>Oct 25, 2011  PLoS One</b>
    </li>
    <br/>
    <li>
      <b><u>Comparison of Normalization Methods for the Identification of Biomarkers Using MALDI-TOF and SELDI-TOF Mass Spectra</u></b>
      <br/>
      <b>Feb 14, 2010  OMICS: A Journal of Integrative Biology</b>
    </li>
    <br/>
  </ul>
</div>
