<h1 class="center-text">Development Cycle</h1>
<img class="img-fluid rounded mx-auto d-block" width="600" [src]="devCycle" alt="Overview of development cycle">

<hr class="line">

<h1 class="center-text">Deployment Process</h1>
<img class="img-fluid rounded mx-auto d-block" width="600" [src]="deploymentProcess" alt="Overview of deployment process">

<hr class="line">

<div class="center-text">
  <h1> Source Code</h1>
  <p class="source-code-text">
  All the source code for this website is stored in my GitHub account.
  <br/>
  The UI code can be found <u><a class="hyperlink" href="https://github.com/hjhocker/reflections_client">here</a></u>
  and the backend code can be found <u><a class="hyperlink" href="https://github.com/hjhocker/reflections">here</a></u>.
  </p>
</div>
