<div class="about-me">
  <div class="about-me-text col-sm-offset-1 col-sm-10 col-sm-offset-1">
    <div class="row-text">
      <h1>
        Employment History
      </h1>
    </div>
    <p class="experience-header">
      <u>May 2017 to present - General Electric Digital: Senior Software Engineer</u>
    </p>
    <p>
      I am currently a Senior Software Engineer at GE Digital. My role is to develop applications using modern technologies such Spring Boot, Hibernate, and Cloud Foundry.
    </p>
    <p class="experience-header">
      <u>Feb. 2016 to May 2017 - General Electric Power: Senior Software Engineer</u>
    </p>
      Served as a lead backend engineer in a large-scale agile environment. Responsible for developing Spring Boot microservices that are deployed to a cloud-based platform as a service (Paas). The microservices communicate using RESTful interfaces and were individually unit tested before any code was committed or deployed. Gained experience with relational databases such as PostgreSQL and Oracle and the tools hibernate, JDBC and Spring Data. Supplementary responsibilities included data migration, mentoring junior software engineers, participating in code reviews, talking with customers to determine requirements. I also gained experience leveraging Jenkins to automate code deployments and using Git/Github for source control management and code reviews.
    <p>
    </p>
    <p class="experience-header">
      <u>Nov. 2015 to Feb. 2016 - General Electric Power: Software Engineer</u>
    </p>
    <p>
      Contribute to an internal application and managed deployment of an Apache Karaf (Talend) server in our local and test environments. Helped setup our local development environment, which utilizes Docker, and assist others as needed with troubleshooting. Support on-going maintenance of the continuous integration (CI) jobs in Jenkins and setup supplementary jobs to detect application down time. Develop RESTful APIs to access a Greenplum datalake and other relational databases. Write Python scripts to import business documents into local MySQL databases.
    </p>
    <p class="experience-header">
      <u>June 2014 to Nov. 2015 - General Electric Capital: Java Software Engineer</u>
    </p>
    <p>
      Develop RESTful Java APIs for GE commercial real estate, develop continuous integration (CI) workflows, and implement robust data access layers. I have developed custom software to analyze log files from the production servers to better understand customer utilization in our Agile SDLC. Maintained legacy software application that was developed using multiple custom frameworks contributed new code using a standardized framework. This increased usability and maintainability of the software, while still delivering business value.
    </p>
    <p class="experience-header">
      <u>Aug. 2009 to May 2014 - The University of Texas Health Science Center at Houston: Graduate Student</u>
    </p>
    <p>
      From 2009 to 2014, I served as a researcher and system administrator for a small group (6 members) and maintained ~10 Linux desktop machines and a 396 CPU Linux cluster. This has given me exposure to several varieties of Linux (CentOS, RedHat & Ubuntu) and Windows Enterprise. I am also skilled at analyzing high dimensional data using unsupervised machine learning and chemistry based informatics. I am also a subject matter expert in computational chemistry and early stage computational drug discovery.
    </p>
    <p class="experience-header">
      <u>June 2007 to Aug. 2007 - Advanced Technology Development Facility: Lithography Summer Intern</u>
    </p>
    <p>
      During my 3-month internship, I was tasked with determining the best photoresist for patterning integrated circuits onto 200mm silicon wafers. I gained valuable experience into the early stages of integrated circuit production, and was trained to evaluate the quality of the imprinted circuit using high-resolution scanning electron microscopy (SEM).

      I evaluated several photoresists for their ability to pattern integrated circuits (ICs) onto 200mm silicon wafers using 193-nm optical lithography. I gained valuable insight into the early stages of IC production, and was trained to evaluate the quality of the ICs using high-resolution scanning electron microscopy. Specifically, the photoresists were evaluated for their ability to generate dense and isolated features (iso/dense bias) as well as the linearity of the features. I was also trained to identify the ideal critical dimension (CD) and greatest depth-of-focus (DoF) by using focus exposure matrices (FEMs) and Bossung curves. Additionally, I learned about the theory of binary, attenuating and alternating phase shift masks.
    </p>
    <hr class="line">
    <div class="row-text">
      <h1>
        Technical Skills Summary
      </h1>
    </div>
    <div class="center-all-the-things">
      <p>Here is an overall summary of my skill set with proficiencies from personal, educational and work experience:</p>
      <table class="center">
        <tr class="line-below">
          <th class="row-text">Skill</th>
          <th class="row-text">Years of Experience</th>
          <th class="row-text">Proficiency</th>
        </tr>
        <tr *ngFor="let skill of skills">
          <th class="row-text">{{skill.name}}</th>
          <th class="row-text">{{skill.yearsOfExperience}}</th>
          <th class="row-text">{{skill.proficiency | capitalize}}</th>
        </tr>
      </table>
    </div>
  </div>
</div>
