.about-me {
  margin-left: 10pt;
}

.about-me-text {
  font-size: 12pt;
  color: darkgray;
}

.row-text {
  text-align: center;
}

.line-below {
  border-bottom: 2pt solid darkgray;
}

.spacing-right {
  margin-right: 10px;
}

.center-all-the-things {
  text-align: center;
}
