.about-me {
  margin-left: 10pt;
}

.about-me-text {
  font-size: 12pt;
  color: black;
}

.experience-header {
  font-size: 12pt;
  font-style: oblique;
  font-weight: normal;
  text-decoration: underline;
}

.line {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: darkgray; /* Modern Browsers */
    width: 85%;
}

.row-text {
  text-align: center;
}

.line-below {
  border-bottom: 2pt solid darkgray;
}

.spacing-right {
  margin-right: 10px;
}

.center-all-the-things {
  text-align: center;
}
