.nav-bar-color {
  background-color: white;
}

.banner-text {
  color: darkslategray;
}

.union {
  font-size: 12pt;
}

.jumbotron-color {
  background-color: darkslategray;
}

p.jumbotron-text {
  text-align: center;
  color: white;
}

a.nav-link-custom {
  font-size: 12pt;
}
