<nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-bar-color">
  <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="nav-link-color navbar-brand">Engineering <span class="union">&#x2229;</span> Science</a>

  <div class="nav-link-color collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav-link-color navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-custom"
            routerLink="/experience"
            routerLinkActive="active" (click)="clicked($event)">Professional Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-custom"
            routerLink="/education"
            routerLinkActive="active" (click)="clicked($event)">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-custom"
            routerLink="/previousresearch"
            routerLinkActive="active" (click)="clicked($event)">Previous Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-custom"
            routerLink="/ots"
            routerLinkActive="active" (click)="clicked($event)">About This Site</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<div class="container">
  <div class="jumbotron jumbotron-color">
    <p class="jumbotron-text">Hello, my name is {{name}}, a Biomedical Scientist turned Software Engineer.</p>
    <p class="jumbotron-text">I'm passionate about learning, building tools, and discovery. Currently, I'm a Senior Software Engineer
    developing cloud applications. In a past inteliectual life I was a gradaute student studying early phase pharmaceutical drug discovery.</p>
  </div>
</div>

<router-outlet></router-outlet>
