<div class="top-spacing">
	<div class="col-md-2 negative-margin-left"></div>
	<div class="col-md-2 simple-border skill-button box margin-right text-style">
	  <a routerLink="/skills" routerLinkActive="active"> Skills </a>
	</div>
	<div class="col-md-2 simple-border education-button box margin-right text-style">
	  <a routerLink="/education" routerLinkActive="active"> Education </a>
	</div>
	<div class="col-md-2 simple-border experience-button box margin-right text-style">
	  <a routerLink="/experience" routerLinkActive="active"> Experience </a>
	</div>
	<div class="col-md-2 simple-border experience-button box text-style">
	  <a routerLink="/" routerLinkActive="active"> Home/Blog </a>
	</div>
	<div class="col-md-2"></div>
</div>
