<div class="top-spacing">
	<div class="col-md-2 negative-margin-left"></div>
	<div class="col-md-2 simple-border skill-button box margin-right text-style">
	  <a routerLink="/skills" routerLinkActive="active"> Skills </a>
	</div>
	<div class="col-md-2 simple-border education-button box margin-right text-style">
	  Education
	</div>
	<div class="col-md-2 simple-border experience-button box margin-right text-style">
	  Experience
	</div>
	<div class="col-md-2 simple-border experience-button box text-style">
		Blog
	</div>
	<div class="col-md-2"></div>
</div>
