div.top-spacing {
  margin-top: 10px;
}

div.simple-border {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}

div.text-style {
  color: black;
  text-align: center;
  font-size: 15pt;
}

div.margin-right {
  margin-right: 10px;
}

div.negative-margin-left {
  margin-left: -10px;
}
